/* Social Media Section */

#social-media {

    background: rgb(102, 0, 128);
    
    }
    
    /* Add color to Social Media Links */
    
    .media_link {
    
    padding: 1rem;
    
    max-width: 15rem;
    
    margin-left: 1rem;
    
    border: 2px solid #b209f5;
    
    border-radius: 0.5rem;
    
    }